<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <!-- Lier le fichier CSS -->
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

<header>
    <h1>Bienvenue sur notre site</h1>
</header>

<nav>
    <a href="/classe">Classe</a>
    <a href="/monture">Monture</a>
</nav>

<div class="content">
    <h2>Bienvenue sur la page d'accueil</h2>
    <p>Explorez notre site pour en savoir plus sur nos différentes classes et montures.</p>
    <p>Utilisez le menu ci-dessus pour naviguer vers d'autres pages.</p>
</div>

<footer>
    <p>&copy; 2025 Mon Site Web - Tous droits réservés</p>
</footer>

</body>
</html>
