{{define "connection"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/svg/styles.css">
    <title>Konami</title>
</head>
<body>
    <header>
        <h1>Konami- connection</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/" class="classe">connection</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="/about" class="btn">about</a>
    </main>
    <footer>
        <p>© World Wiki. Tous droits réservés.</p>
    </footer>
</body>
</html>
{{end}}
