{{define "region"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/svg/styles.css">
    <title>World Of Wiki</title>
</head>
<body>
    <header>
        <h1>World Of Wiki- regions</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/" class="classe">régions</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="acceuil" class="btn">voir les régions</a>
    </main>
    <footer>
        <p>© World Wiki. Tous droits réservés.</p>
    </footer>
</body>
</html>
{{end}}